/*
Main css core
*/

/* Fonts
   ========================================================================== */

@font-face {
    font-family: Panton;
    src: url(../fonts/Panton/Panton-Regular.otf);
}

@font-face {
    font-family: PT-Sans;
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

.font-panton {
    font-family: Panton !important;
}

/* Miscellaneous
   ========================================================================== */
.social-btn-a {
    color: #ffffff;
}

.social-btn {
    cursor: pointer;

    border-color: #f4324f;
    background-color: #f4324f;

    color: #ffffff;

    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.social-btn:hover {
    background-color: #ffffff !important;
    color: rgba(51, 51, 51, 1);
}

.social-btn-deliverer {
    width: 20px;
}

.default-header-text {
    text-transform: none !important;
}

#map {
    width: 100%;
    height: 400px;
}

.go-top {
    width: 40px;
    height: 40px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;

    color: #333333 !important;

    background-color: #ffffff;
    border-radius: 50%;

    line-height: 40px;
    text-align: center;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);

    opacity: 0.6;

    transition: opacity 0.3s;

    /*cursor: pointer;*/
}

.go-top:hover {
    opacity: 1;
}

.go-top-hidden {
    opacity: 0 !important;
}

.quote {
    margin-right: 50px;
    margin-left: 50px;

    padding-top: 50px;
    padding-bottom: 50px;

    border: 1px solid #000000;
}

.quote:before {
    margin-top: -85px;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #fff;
    content: '\201c';
    font-size: 40px;
    line-height: 100px;
    position: absolute;
    left: 50%;

    color: #f43250;

    font-family: PT-Sans;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Header
   ========================================================================== */
.logo {
    width: auto;
    height: 192px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.main-menu {
    /*overflow: hidden;*/
    /*height: 102px;*/

    padding: 15px;
    background-color: #000000;

    transition: background-color 0.3s;
}

.main-menu-item {
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);

    transition: border 0.15s;

    font-size: 18px;
    padding: 19px 20px !important;
    color: #ffffff !important;
}

.main-menu-item:hover {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.dropdown-main-menu {
    width: 280px;

    margin-top: 14px;

    padding: 0px;
    border-radius: 0px;

    left: -173px !important;

    background-color: #000000;
}

.dropdown-item-main {
    font-size: 18px;
    padding: 10px 10px !important;
    color: #ffffff;

    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item-main:hover {
    color: #ffffff;
    background-color: #f43250;
}

.hidden {
    display: none;
}

.fixed-menu-background {
    background-color: rgba(68, 68, 68, 0.53);
}

@media all and (max-width: 575px) {
    .main-menu-item {
        margin-top: 10px !important;
    }

    .dropdown-main-menu {
        width: 100%;
    }

    .fixed-menu-background {
        background-color: #000000;
    }
}

.menu-place {
    height: 100px;
}

/* Slider
   ========================================================================== */

.slider-element {
    height: 100vh;
    /*height: -webkit-calc(100vh - 250px);*/
    /*height: -moz-calc(100vh - 250px);*/
    /*height: calc(100vh - 250px);*/

    background-size: cover;
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
/ / Half of the prev / next buttons height here in negatives to center them perfectly
}

.owl-prev {
    background: transparent !important;
    font-size: 24px !important;
    left: 0;
}

.owl-next {
    background: transparent !important;
    font-size: 24px !important;
    right: 0;
}

.owl-dots {
    position: absolute;
    height: 20px;
    z-index: 1;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    bottom: 24px;
}

.owl-dots .owl-dot span {
    width: 9px !important;
    height: 9px !important;
    border-radius: 9px !important;
    margin: 5px 2px !important;
    background: 0 0;
    border: 2px solid #edecf6;
    background: transparent !important;
    cursor: pointer;
}

.owl-dots .owl-dot.active span {
    background: #edecf6 !important;
}

.owl-prev {
    padding: 7px 0 0 4px !important;

    width: 50px;
    height: 50px;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    margin: 0 50px;
    border-radius: 50% !important;
    border: 2px solid #edecf6;
    background: 0 0 !important;
}

.owl-prev i {
    margin-right: 7px !important;
}

.owl-next {
    /*line-height: 39px;*/
    padding: 7px 0 0 4px !important;

    width: 50px;
    height: 50px;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    margin: 0 50px;
    border-radius: 50% !important;
    border: 2px solid #edecf6;
    background: 0 0 !important;
}

.slide-content-placer {
    padding-top: 60vh;
    padding-left: 100px;
    width: 60vw;
    height: 35vh;
}

.slide-content {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

@media screen and (max-width: 1100px) {
    .slide-content {
        font-size: 18px;
    }
}

@media screen and (max-width: 770px) {
    .slide-content {
        font-size: 14px;
    }
}

.slide-content button {
    color: #000000;
    /*text-transform: uppercase;*/
}

/* Courses
   ========================================================================== */
.courses-header span {
    text-transform: uppercase;

    font-size: 48px;
    font-family: Panton;
    margin: 30px 0 10px;
}

.course .btn {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.courses-header hr {
    border-color: rgba(0, 0, 0, 0.3);
}

.course-image {
    position: relative;
    width: 100%;
    /*height: 40%;*/
    /*padding-bottom: 40%;*/
    height: 250px;
    background: no-repeat 50% 50%;
    background-size: cover;
    float: none;
}

.course-content-header {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    font-family: PT-Sans;
}

.course-content {
    font-weight: 500;
    font-size: 16px;
    font-family: PT-Sans;
    padding: 0 30px 50px;
}

.spacer {
    padding-top: 100px;
}

.about-lebovi-image {
    width: 100%;
}

.about-lebovi {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-family: PT-Sans;;
}

.view-icon {
    position: static;
    display: block;
    width: 120px;
    height: 120px;
    line-height: 116px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid;
    background: 0 0 !important;
}

.view-icon-block {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.icon-sapcer {
    height: 180px;
}

/* Info
   ========================================================================== */
.info-list {
    margin-bottom: 10px !important;
}

.info-list-item {
    font-size: 15px !important;
}

.info-list-icon {
    font-size: 18px !important;
}

.info-link {
    color: #000000 !important;
    margin-left: 10px;
}

/* Ready works
   ========================================================================== */

.photo {
    background-color: #000000;

    position: relative;
    /*width: 20%;*/
    max-width: 100%;
    float: left;
    font-size: 12px;

    background-size: 100%;
}

.photo:before {
    content: "";
    display: block;
    margin-top: 100%; /* initial ratio of 1:1*/
}

.photo-content {
    /* Insets */
    /*margin: 10px;*/

    /* Positioning */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;

    /* Styling */
    padding: 20px;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
}

.photo-content span {
    font-weight: bold;
    font-size: 3em;
    display: block;
}

.review-photo {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    width: 220px;
    height: 220px;

    border-radius: 50%;
}

.small-spacer {
    height: 50px;
}

.photo-padding {
    padding-bottom: 260px;
}

.review-link {
    font-size: 18px;
    color: #f4324f !important;
    text-decoration: none !important;
}

.review-text {
    background: #e6e9ee;
    line-height: 27px;
    padding: 35px 25px;
    position: relative;
    text-align: center;
}

.review-text:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e9ee;
}

.review-text-paragraph {
    font-size: 16px;
    text-align: left;
    color: #788999;
}

/* Contacts
   ========================================================================== */

.contacts-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    font-weight: 400;
    font-size: 18px;
}

.contacts-text .info {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts-text span {
    color: #f4324f;
}

.contacts-text a {
    font-size: 16px;
    color: #000000 !important;
}

/* Footer
   ========================================================================== */

.footer {
    height: 120px;
    background-color: #000000;
}

.footer-text {
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    margin-top: 50px!important;
}